.about-us {

  &__title {
    font-size: 50px;
    margin: 30px 0 40px 30px;
    @media (min-width: $screen-sm) {
      margin: 50px 0 60px 45px;
    }
    @media (min-width: $screen-md) {
      margin: 70px 0 60px 60px;
    }
  }

  &__list {
    padding-left: 30px;
    list-style-type: none;
    @media (min-width: $screen-sm) {
      padding-left: 45px;
    }
    @media (min-width: $screen-sm) {
      padding-left: 60px;
    }


    @media (min-width: $screen-sm) {
      display: flex;
      flex-wrap: wrap;
    }
    @media (min-width: $screen-md) {
      flex-wrap: nowrap;
    }
  }

  &__item {
    padding-bottom: 25px;
    font-size: 16px;
    @media (min-width: $screen-sm) {
      width: 50%;
    }
  }
  &__item:before {
    color: blue;
    content: "• ";
    padding-right: 10px;
  }

  &__map {
    height: 340px;

  }
}
